/* Глобальные стили */

body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;

    background-color: #ffffff;

    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.link {
    color: inherit;
    text-decoration: none;
}

input,
textarea {
    font: inherit;

    background-color: transparent;
    border: none;
}

/* Стили обёрток */

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.wrapper_for_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

/* Использовано так как меню не список, а создание класса menu__item для элементов меню приведет к вложению элементов в элементы, что недопустимо по БЭМ */
.wrapper_for_menu > * {
    padding-top: 11px;
    padding-bottom: 7px;
}

.wrapper_for_user-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}

.wrapper__row {}

.wrapper__col {}

.wrapper_for_categories {
    margin-bottom: 53px;
}

.wrapper_for_about {
    display: flex;
    margin-bottom: 86px;
    padding-top: 80px;
}

.wrapper_for_catalog {
    display: flex;
}

.wrapper_for_catalog-group {}

.wrapper_for_footer {
    margin-bottom: 50px;
}

.wrapper_for_copyright {
    display: flex;
    justify-content: space-between;
}

.wrapper_for_services {
    width: 960px;
    padding-left: 10px;
}

.wrapper_for_services-selector {
    display: flex;
}

/* Стили хэдера (кроме куска навигации для футера)*/
.header {
    background-color: #f4f7f9;

    margin-bottom: 60px;
}

.header__lead {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    width: 200px;
    margin: 0;
}

.logo {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;

    background-color: #ee3643;

    width: 220px;

        padding-top: 11px;
    padding-bottom: 7px;
}

.logo:hover{
    background-color: #ca2c37;
}

.search {
    flex-grow: 1;
}

.search__input {
    color: #ffffff;
    /*width: 270px;*/
}

.search__input:hover {
    background-color: #212a3a;
}

.search__input:focus {
    /* Такой обводки нет в макете, но дефолтный аутлайн не очень */
    outline: 2px solid #ee3643;

    color: #000000;

    background-color: #ffffff;
}

.search__input::-webkit-input-placeholder {
    color: #ffffff;
}

.search__input::-moz-placeholder {
    color: #ffffff;
}

.search__input:-ms-input-placeholder {
    color: #ffffff;
}

.contacts {
    display: flex;
}

.contacts__phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.contacts__address {
    font-size: 14px;
    line-height: 24px;
}

.user {
    display: flex;
    margin: 0;
    padding: 0;
}

.user__list-item {
    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.user__list-item_logged {
    width: 300px;
}

.user__link:hover {
    color: #ee3643;
}

.user__link_profile:hover {
    color: #000000;
}

.user__link_small {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

.user__link_small:hover {
    color: #ee3643;

    text-decoration: underline;
}

.user__list-item:hover {}

.navigation {
    color: #ffffff;

    background-color: #32425c;
}

.navigation__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navigation__list-item {
    font-size: 17px;
    line-height: 17px;

    display: flex;
}

.navigation__link_theme_header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 31px;
    padding-right: 31px;
}

.navigation__link_theme_header:hover {
    background-color: #293449;
}

.navigation__link_theme_footer {
    font-size: 18px;
    line-height: 24px;
}

.navigation__link_theme_footer:hover {
    text-decoration: underline;
}

.navigation__link_theme_accent {
    color: #ffd180;
}

.menu {
    color: #ffffff;

    background-color: #293449;

    width: 100%;
}

.menu__item {
    text-align: center;

    width: 150px;
}

.menu__item:hover {
    background-color: #212a3a;
}

.menu__order {
    text-align: center;

    background-color: #63a63e;

    width: 150px;
}

.menu__order:hover {
    background-color: #5fbb2d;
}

.menu__item_type_non-empty-cart {
    background-color: #ee3643;
}

.menu__item_type_non-empty-cart:hover {
    background-color: #ca2c37;
}

/* Стили основной секции*/

.main {
    background-color: #ffffff;
}

.button {
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #ee3643;
    border: none;
}

.spacer .button {
    text-align: center;;

    width: 253px;
    padding-top: 12px;
    padding-bottom: 11px;

}

.button:hover {
    background-color: #ca2c37;
}

.button_type_buy {
    background-color: #63a63e;
}

.button_type_buy:hover {
    background-color: #5fbb2d;
}

.button_type_bookmark {
    color: #32425c;

    border-width: 2px;
    border-style: solid;
    border-color: #63a63e;

    background-color: #ffffff;
}

.button_type_bookmark:hover {
    border-color: #32425c;

    background-color: #ffffff;
}

.button_theme_white {
    color: #000000;

    background-color: #ffffff;
}

.button_theme_white:hover {
    border-width: 2px;
    border-style: solid;
    border-color: #ee3643;

    background-color: #ffffff;
}

.button_theme_light {
    color: #000000;

    border-width: 1px;
    border-style: solid;
    border-color: #e5e5e5;

    background-color: #ffffff;
}

.button_theme_light:hover {
    border-width: 1px;
    border-style: solid;
    border-color: #ee3643;

    background-color: #ffffff;
}

.blocks-list {
    color: #ffffff;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 60px;
}

.blocks-list__button {
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
}

.blocks-list__button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.blocks-list__item {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 22px;
}

.blocks-list__item_theme_orange {
    background-color: #ffbf47;
}

.blocks-list__item_theme_light-blue {
    background-color: #3bbce3;
}

.blocks-list__item_theme_light-violet {
    background-color: #dc91d8;
}

.blocks-list__item_theme_light-green {
    background-color: #8ed78f;
}

.slider {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;

    width: 620px;
}

.slider__heading {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slider__list-item {
    background-color: #93847b;
}

.slider__list-item_drill {
    width: 620px;
    height: 266px;

    background-image: url("../img/slider-drill.jpg");
    background-repeat: no-repeat;
}

.slider__list-item_perforator {
    width: 620px;
    height: 266px;

    background-image: url("../img/slider-perfo.jpg");
    background-repeat: no-repeat;
}

.spacer {
    background-color: #faf6f2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 26px;
    padding-right: 24px;
    padding-left: 30px;
}

.spacer_theme_catalog {
    background-color: #f2f6f8;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.spacer__heading {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;

    margin: 0;
}

.breadcrumbs {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    display: flex;
    margin: 0;
    padding-left: 0;
    padding-top: 23px;
    padding-bottom: 25px;
}

.breadcrumbs__item {
    padding-right: 40px;
}

.breadcrumbs__link {
    color: #000000;
}

.breadcrumbs__link:hover {
    color: #000000;
}

.product-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.product-cards_type_brands {
    margin-bottom: 65px;
}

.product-cards__item {
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;

    width: 218px;
    margin-bottom: 20px;
}

.product-cards__item_type_brands {
    height: 138px;
    display: flex;
    align-items: center;
}

.product-cards__item_type_brands a {
    margin-left: auto;
    margin-right: auto;
}

.product-cards__title {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.product-cards__price {
    color: #ffffff;

    background-color: #ee3643;
}

.product-cards__price_crossed {
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #a9a9a9;

    background-color: transparent;
}

.services {
    background-color: #f4f8f9;

    padding-top: 68px;
}

.services_theme_catalog {
    background-color: #f2f6f8;

    padding-top: 62px;
    padding-bottom: 73px;
}

.services__text {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 10px;
}

.services__heading {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 30px;
}

.services__subheading {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.services__selector {

}

.services__selector-item {
    color: #ffffff;

    background-color: #32425c;
}

.services__selector-item:hover {
    color: #ffffff;

    background-color: #293449;
}

.services__selector-item_selected {
    color: #32425c;

    background-color: #ffffff;
}

.services__delivery {
    background-image: url("../img/services-car.png");
    background-repeat: no-repeat;
}

.services__guarantee {
    background-image: url("../img/services-guarantee.png");
    background-repeat: no-repeat;
}

.services__credit {
    background-image: url("../img/services-credit.png");
    background-repeat: no-repeat;
}

.about_us {
    background-color: #ffffff;
}

.about_us__list {}

.about_us__list-item {
    font-size: 18px;
    line-height: 20px;
}

.directions {}

.pagination {
    display: flex;
    padding: 0;
    margin: 0;
}

.pagination__list-item {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;

    border-radius: 1px;
    border-style: solid;
    border-color: #e5e5e5;

    width: 38px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagination__list-item:hover {
    border-color: #bdc6ca;
}

.pagination__list-item_current {
    color: #ffffff;

    background-color: #ee3643;
}

.pagination__list-item_next {
    width: 134px;
}

.filters {
    width: 220px;
}

.filters__heading {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;
}

.fieldset {}

.fieldset__heading {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.fieldset__label {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.fieldset__input_theme_yellow {
    font-size: 17px;
    line-height: 18px;

    background-color: #f7f3ec;
}

.sort {
    background-color: #f7f3ec;
}

.sort__heading {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort__parameter {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);

    border-bottom: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #ee3643;
}

.sort__parameter:hover {
    color: #000000;

    border-bottom-style: solid;
    border-bottom-color: #ee3643;
}

.sort__parameter_selected {
    color: #ee3643;

    border: none;
}

.modal {
    margin: 0 auto;
    padding: 0;
}

.modal_type_write-us {
    width: 620px;
}

.modal_type_cart {
    width: 620px;
}

.modal_type_map {
    width: 940px;
}

.modal__cart-lead {
    font-size: 30px;
    line-height: 30px;
    color: #000000;

    background-color: #ffffff;
}

.modal__cart-bottom {
    background-color: #f1f1f1;
}

.modal__label {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.modal__input {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;

    border-radius: 2px;
    border-style: solid;
    border-color: #dee3e4;
}

.modal__input:hover {
    outline: none;
    border-color: #b5b5b5;
}

.modal__input:focus {
    outline: none;
    border-color: #ee3643;
}

.modal__textarea {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;

    border-radius: 2px;
    border-style: solid;
    border-color: #dee3e4;
}

.modal__textarea:hover {
    outline: none;
    border-color: #b5b5b5;
}

.modal__textarea:focus {
    outline: none;
    border-color: #ee3643;
}

.modal__close {}

/* Стили футера*/
.footer {
    line-height: 24px;
    color: #ffffff;

    background-color: #32425c;
}

.footer__logo {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;

    background-color: #ee3643;
}

.footer__address {
    margin: 0;
}

.secondary-navigation {}

.secondary-navigation__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


.copyright {
    font-size: 16px;
    line-height: 18px;

    background-color: #293449;

    padding-top: 40px;
    padding-bottom: 35px;
}

.copyring__text {
    margin: 0;
}

.copyright__link {
    color: #ffd180;
}

.copyright__link:hover {
    text-decoration: underline;
}

.social {
    display: flex;

    margin: 0;
    padding: 0;
}

.social__icon {
    color: #ffffff
}